# For documentation on the github environment, see
# https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners
#
# For documentation on the syntax of this file, see
# https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions


build:
    environment:
        matrix:
            - FLAVOR: VS 2022 x64 Debug
              APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2022
              platform: x64
              configuration: Debug